




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*html, body {
  height: 100%;
  margin: 0;
}*/

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*это атрибут className для товаров*/
.goods {
  display: flex;
  height: 500px;
  display: inline-block;
  place-items: center;
  justify-content: center;
  border: 5px solid green;
/*  display: inline-block;*/
}

/*это атрибут id*/
#goods {
/*height: 400px;*/
display: inline-block;
}



.active-link {
  color: var(--color-active);
  cursor: default;
}


header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; /* равномерное распределение */
  align-items: center; /* выравнивание по вертикали */
  padding: 10px 20px; /* отступы внутри header */
  background: #696969; /* фон */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* тень (опционально) */
  /* z-index: 1000; */
}


/*.headerInline{
    
    display: inline-block;
    vertical-align: middle;
    padding: 10px;

}
*/



main{
  /*text-align: center; */
  /*background-color: seagreen;*/
  width: 100%; 
  /*сколько занимает по ширине сайта*/
  /*padding: 50px 0px 100px 0px;*/
  /* height: 100vh;*/
  /* padding: 2.5%; */
  /*border-right: 5px solid slategrey;*/
  
  /*отступ слева*/
  /*margin-left: 10%; */
  
  


  /*margin-bottom: 200px;*/
  /*padding-bottom: 150%;*/

  /* Высота footer с минусом */
  /*margin-bottom: -130px; */

  /* Отступ снизу = высота footer */
  padding-bottom: 130px; 
  
}

  aside {  
  width: 15%;
  position: fixed;
  padding: 1.5%;  
  color: #ecf0f1;  
  top: 120px;
  bottom: 120px;
  left: 0;
  margin-left: 30px;  
  overflow-y: auto;
}

aside h2:hover {
  /*background-color: #B0C4DE;*/
  color: #B0C4DE;
}

/*стили футера*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: #2E8B57;
  color: white;
  font-family: Arial, sans-serif;
}


/*.footer p{
text-align: left;
color: white;
}*/

/*.footer {
  background: #2E8B57;
  color: #f0f0f0;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}*/

.footer-logo {
  font-size: 20px;
  font-weight: bold;
}


.footer-bottom {
  text-align: center;
  /*margin-top: 30px;*/
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 20px;
}

/*.footer-bottom a {
  color: #aaa;
  margin: 0 5px;
  text-decoration: none;
}*/

/*.footer-bottom a:hover {
  color: #fff;
}
*/

/*конец стилей футера*/

.list-pages {
  text-align: center;
  margin: 0 0 20px 0;

}


.list-pages ul {
  margin: 20px 0 0 0;
  padding: 0; 
}

.list-pages ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}


.list-pages a {
  color: greenyellow;
  font-size: 24px;
  text-decoration: none;
}

.list-pages .page-num, .page-num-selected, .page_selected {
  display: inline-block;
  width: 60px;
  height: 40px;
  padding: 3px 0 0 0;
  border: 1px solid #d0d0d0;
  border-radius: 30px;
  background: royalblue;
}

.list-pages .page-num:hover {
  box-shadow: 3px 3px 1px #d0d0d0; 


}
.list-pages .page-num-selected {
  /* border: none;*/
  color: red;
  font-size: 20px;
}


.list-pages .page-num-selected:hover {
  box-shadow: none; 
}



.invis{
visibility: hidden;
/* display: none; */
}




/*стили для таблиц*/
.table-editor {
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 20px; */
}

.table-editor table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-editor th, .table-editor td {
    /* border: 1px solid #ddd; */
    padding: 8px 12px;
    text-align: left;
}

.table-editor th {
    background-color: #2E8B57;
}

.table-editor input[type="number"] {
    width: 80px;
    padding: 5px;
}

.table-editor .reset-price {
    margin-left: 5px;
    padding: 3px 6px;
    font-size: 12px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table-editor .total-label {
    text-align: right;
    font-weight: bold;
}

.table-editor .total-sum {
    font-weight: bold;
    font-size: 1.1em;
}
container-roadmap-view
.table-editor .actions {
    text-align: right;
}

.table-editor .error {
    color: #d32f2f;
    margin-top: 10px;
}

/* стили для регистрации пользователей */
.registration-section {
  width: 400px;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 50px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  margin-top: 140px;  
}

.input-text {
  width: 390px;
  height: 20px; /* Задаем высоту */
  padding: 2px; /* Добавляем внутренние отступы */
  font-size: 16px; /* Увеличиваем размер шрифта */
}

.label-style {
  /* margin-bottom: 00px; */
  position: relative; 
  top: -10px;
}

/*стили для знаний*/

.list-knowledge {
  max-width: 70%;
  margin-left: 20%;
  margin-top: 140px;
  /*margin: 0 auto;*/
  /*auto;*/
  /*padding: 20px;*/
  /*padding: 2.5%;*/
}

.title-element {
  background-color: #2F4F4F;
}

.task-content-area {
  /*height: 100vh;*/
  margin-top: 120px;  
  height: calc(100vh - 230px - 10px);
  display: flex;
  /* flex-direction: column; */
  /* overflow: hidden; */
  overflow: auto;
}

.task-container {  
  width: 700px;
  padding: 2%;
  /*max-width: 100%;  */
  /*margin-left: 10%;*/
  margin-top: 33px;  
  /* overflow: auto; */  
}


.task-controls {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.task-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-left: 16px;
}




.section-tasks-container {
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
}



.post-container-free {
  margin-top: 150px;
  max-width: 70%;
  margin-left: 20%;
  margin-right: 20%;  
  
  /*margin: 0 auto;*/
  /*auto;*/
  /*padding: 20px;*/
  /*padding: 2.5%;*/
}



/* рамка для шапки */
.section-frame {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

/* рамка для контента знания */
.editor-section {  
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;  
}

.editor-content-margin {
  margin-bottom: 50px; 
}

/*.editor-toolbar {
  margin-bottom: 10px;
}*/

.upload-button {
  background: #4CAF50;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.editor-actions {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.save-button {
  min-width: 130px;
  background: #2196F3;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #B0C4DE;
}


.cancel-button {
  min-width: 130px;
  background: #f44336;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;  
}

.cancel-button:hover {
  background-color: #B22222;
}




.edit-button {
  background: #FFC107;
  color: black;
  margin-top: 15px;
}

.error-message {
  color: #f44336;
  margin-top: 10px;
}

.markdown-content {
  /*max-width: 100%;  */
  /*width: 100%;*/
  text-align: left; /* Выравнивание текста по левому краю */  
  padding: 15px;
  /*border: 1px solid #eee;*/
  border: 2px solid #ddd;
  border-radius: 8px;
  line-height: 1.6; /* Комфортный межстрочный интервал */
  font-size: 16px;
  word-wrap: break-word;  /* Перенос длинных строк */
  white-space: normal;
}



.markdown-content table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdown-content th,
.markdown-content td {
  border: 2px solid #ccc;        /* Толщина и цвет границ */
  padding: 8px 12px;             /* Отступы внутри ячеек */
  text-align: left;
}

.markdown-content th {
  background-color: green;     /* Светлый фон для заголовков */
  font-weight: bold;
}

.editor-toolbar {
  display: flex;
  gap: 12px;
  margin-bottom: 1rem;
}

.toolbar-button {
  min-width: 130px; /* или ширину, которую занимает "Upload Image" */
  padding: 8px 12px;
  text-align: center;
  background-color: #2E8B57;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  /*transition: background-color 0.2s ease;*/
}

.toolbar-button:hover {
  background-color: #d5d5d5;
}

/*другого цвета кнопка удаления*/
.delete-button {
  min-width: 130px; 
  padding: 8px 12px;
  text-align: center;
  background-color: #A52A2A;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;  
  float: right;
}

.delete-button:hover {
  background-color: #d5d5d5;
}

.font-title {
  font-weight: bold;
  color: #5F9EA0;
  font-size:24px
  
}

.font-description {
  /*font-weight: bold;*/
  color: #E0FFFF;
  font-size:18px
}


.no-wrap {
  white-space: nowrap;
}


/* проекты */

.header-chapter {  
  max-width: 70%;
  margin-left: 20%;
  
  margin-top: 140px;
  /*auto;*/
  /*padding: 20px;*/
  /*padding: 2.5%;*/
}


/*стили прокрутки стейджей в чаптере*/

.chapter-section {  
  max-width: 30%;
  margin-left: 18%;  
  margin-top: 110px;    
  /*height: calc(100vh - 110px - 20px);*/
  padding: 2.5%;
  overflow-y: auto;
  color: #E0FFFF;
}


.chapter-section h2 {
  color: #5F9EA0; 
}


.chapter-section span {
  color: #E0FFFF; 
}


.stages-section {  
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;  
}


/*конец стилей стейджей*/

/*.central-part {
  margin-top: 140px;
  width: 80%;
  max-width: 1200px;
  margin-left: 10%; 
  border-radius: 8px;    
  overflow-wrap: break-word;
  hyphens: auto;
}*/

.central-part {
  margin-top: 140px;
  width: 80%;
  /*margin-left: 10%;*/
  border-radius: 8px;    
  overflow-wrap: break-word;
  hyphens: auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  gap: 20px; /* Расстояние между карточками */
  margin-top: 20px;
}


/*.project-card {
  background: #34495e;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ddd;
  min-height: 150px; 
}*/

.project-card {
  background: #34495e;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ddd;
  width: 100%; /* Занимает всю ширину ячейки grid */
  min-height: 150px;
  height: auto; /* Высота автоматическая */
  box-sizing: border-box; /* Важно: padding включен в ширину */
  
  /* Запрещаем изменение ширины */
  min-width: 0; /* Важно для правильной работы flex/grid */
  max-width: 100%;
  
  /* Обеспечиваем перенос длинного текста */
  word-wrap: break-word;
  overflow-wrap: break-word;
}



.project-section {  
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;  
  margin-bottom: 20px;
}

.section-middle {  
  max-width: 30%;
  margin-left: 18%;  
  margin-top: 120px;
  padding: 2.5%;
  overflow-y: auto;
  color: #E0FFFF;
}

.header-section {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  /*flex-shrink: 0;*/
}



.list-project {
  /* max-width: 60%; */
  width: 450px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
  /*margin: 0 auto;*/
  
  /* padding: 20px; */
  /*padding: 2.5%;*/
}


.container-project-section-view {  
  /*top: 120px;*/
  /*bottom: 120px;*/
  display: flex;
  height: calc(100vh - 110px - 10px);
  /*height: 100vh;*/
  /*justify-content: space-between;*/
  /* padding: 10px;   */
  /* flexDirection: column; */
  /*overflow-y: auto;  */
  overflow: hidden;
}

.container-project-section-view3{
  display: flex;
  height: 100vh;
  /*position: absolute;*/
  /*top: 120px; */
  /*bottom: 120px; */
  /*max-width: 100%;  */
  left: 20%;  
  /*right: 0;*/
  /*overflow: hidden;*/
  overflow-y: auto;  
}

  /*display: flex;
  position: absolute;
  top: 120px; 
  bottom: 120px; 
  max-width: 100%;  
  left: 20%;  
  right: 0;
  overflow: hidden;*/

.shpora {
  display: flex;
  position: absolute;
  top: 120px; /* Отступ от header */
  bottom: 120px; /* Отступ от footer */
  max-width: 100%;
  /*margin-left: 20%;  */
  left: 20%;  
  right: 0;
  overflow: hidden;
}


/*.height-project-section {
  height: calc(100vh - 110px - 20px);
}*/

.list-section {
  /* max-width: 60%; */
  width: 190px;
  /* display: inline-block; */
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #34495e;
  /*margin: 0 auto;*/
  transition: all 0.3s ease;
  border-radius: 4px;
  
  /* padding: 20px; */
  /*padding: 2.5%;*/
}

.list-section:hover {
  background-color: #3d566e;
}

.list-section.active {
  background-color: #A9A9A9;
  border-left: 4px solid #16a085;
  position: relative;
  padding-right: 30px;
}

.list-section.active::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
  width: 40px; /* Размер вашей стрелки */
  height: 40px;
  background-image: url('assets/icons/strelka.png'); /* Путь от public */
  background-size: contain;
  background-repeat: no-repeat;
}


.list-section h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #f1ecec;
}

.list-section label {
  font-size: 18px;
  color: #f1ecec;
}




.list-section .toolbar-button {
  background-color: #3498db;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-section .toolbar-button:hover {
  background-color: #2980b9;
}

.header-project {  
  width: 190px;  
}


.change-button {
  width: 24px;
  height: 24px;
  background-image: url('assets/icons/pencil.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.change-button:hover {
  transform: scale(1.5);
}


.accept-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 5px;
  border: none;
  border-radius: 8px;  
  cursor: pointer;
  transition: all 0.3s ease;  
  background: #10b981;
  color: white;
}

.accept-button:hover {
  /*transform: scale(1.5);*/
  background: #059669;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(16, 185, 129, 0.3);
}

.close-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 5px;
  border: none;
  border-radius: 8px;  
  cursor: pointer;
  transition: all 0.3s ease;    
  background: #ef4444;
  color: white;    
}

.close-button:hover {
  /*transform: scale(1.5);*/
  background: #dc2626;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);
}

.container-user {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container-roadmap-view {
  height: calc(100vh - 110px - 20px);
  display: flex;
  /*justify-content: space-between;*/
  padding: 10px;
}


.stage-container {
  /*width: 100%;*/
  width: 700px;
  max-width: 100%;  
  margin-left: 10%;
  margin-top: 140px;  
}


.list-stage {
  width: 450px;  
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #34495e;  
  transition: all 0.3s ease;
  border-radius: 4px;  
  cursor: pointer; 
}


.list-stage:hover {
  background-color: #3d566e;
  /*transform: translateY(-2px);*/
}


.list-stage.active {
  background-color: #A9A9A9;
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.logo-style {
  width: 20px;
  height: 20px;  
}




.custom-md-editor {
  width: 70% !important;
  margin: 0 auto !important; /* центрирование */
}

.list-group {
  /*max-width: 70%; */
  width: 190px;  
  /*margin-right: 50px;*/
  /*margin-bottom: 50px;*/
  background-color: #34495e;
  /*margin: 0 auto;*/
  transition: all 0.3s ease;
  border-radius: 4px;


  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 12px;  */
}

.list-group-edit {
  /*max-width: 70%; */
  width: 190px;
  /*margin-right: 50px;*/
  margin-bottom: 15px;
  background-color: #34495e;
  border-radius: 4px;
  /*padding: 12px;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

.list-group:hover {
  background-color: #3d566e;
}

.list-group.active {
  background-color: #A9A9A9;
  border-left: 4px solid #16a085;
  position: relative;
  padding-right: 30px;
}

/*стрелка*/
/*.list-group.active::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url('assets/icons/strelka.png');
  background-size: contain;
  background-repeat: no-repeat;
}*/


.list-group h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #f1ecec;
}


.name-knowledge {
  margin: 0;
  flex-grow: 1;
}

/*.list-group-edit form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}*/

.list-group-edit input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}


/*.container-knowledges-view {
  height: calc(100vh - 110px - 20px);  
  display: flex;
}*/


/* Основной контейнер для вкладок и содержимого */
.knowledge-tabs-container {
  
  width: 100%;
  max-width: 70%; /* Фиксированная максимальная ширина */
  margin: 0;
  padding: 2%;  
  overflow-y: auto;  
}



.knowledge-content-area {
  flex: 1;
  padding: 0;
  overflow-y: auto;  
}

.knowledges-list {
  padding: 2%;  
  width: 600px;
  min-width: 600px;
  color: #E0FFFF;  
  overflow-y: auto;
  /*transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;*/
  transition: all 0.3s ease-in-out;
  transform-origin: left center;
  transition-property: transform, opacity, width, min-width, padding;
}

.knowledges-list.collapsed {
  transform: scaleX(0);
  opacity: 0;
  width: 0;
  min-width: 0;
  padding: 0;
  overflow: hidden;
}

.hidden-button {
  /*padding: 8px 16px;*/
  border: 1px solid #ddd;
  background-color: #2E8B57;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;  
  width: 40px;
  height: 40px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.hidden-button:hover {
  background-color: #d5d5d5;
}


.collapse-toggle {
  margin-top: 65px;
  /*padding: 2.5%;  */
  /*position: fixed;*/
  /*top: 200px;*/
  /*left: 20px;*/
  /*z-index: 1000;*/
}



.container-knowledges-view {
  display: flex;
  position: absolute;
  top: 120px; /* Отступ от header */
  bottom: 120px; /* Отступ от footer */
  max-width: 100%;  
  left: 20%;  
  right: 0;
  overflow: hidden;
}

.central-part-knowledges {
  border-radius: 8px;  
}





.sort-date {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #2E8B57;
  border-radius: 6px;
  cursor: pointer;
  /* transition: all 0.2s ease;   */
  width: 80px;
  /* height: 40px; */
  /* font-weight: 500; */
  text-align: center;
  justify-content: center;
}

.sort-date:hover {
  background-color: #d5d5d5;
}











