

.registration-section {
  width: 400px;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 50px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  margin-top: 140px;  
}





